.e6_2054 { 
	width:421px;
	height:892px;
	position:absolute;
}
.e6_2053 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_2055 { 
	width:412px;
	height:40px;
	position:absolute;
	left:8px;
	top:-1px;
}
.ei6_2055_266_1499 { 
	width:412px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei6_2055_266_1499_266_1640 { 
	width:128px;
	height:40px;
	position:absolute;
	left:16px;
	top:0px;
}
.ei6_2055_266_1499_266_1641 { 
	color:rgba(23.000000528991222, 29.000000171363354, 27.000000290572643, 1);
	width:29px;
	height:20px;
	position:absolute;
	left:0px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.ei6_2055_266_1499_266_1643 { 
	width:46px;
	height:52px;
	position:absolute;
	left:350px;
	top:-6px;
}
.ei6_2055_266_1499_266_1644 { 
	width:30px;
	height:16px;
	position:absolute;
	left:0px;
	top:18px;
}
.ei6_2055_266_1499_266_1645 { 
	width:16px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei6_2055_266_1499_266_1645_346_8257 { 
	background-color:rgba(23.000000528991222, 29.000000171363354, 27.000000290572643, 1);
	width:14.666666984558105px;
	height:10.373332977294922px;
	position:absolute;
	left:0.66668701171875px;
	top:2.9600017070770264px;
}
.ei6_2055_266_1499_266_1646 { 
	width:16px;
	height:16px;
	position:absolute;
	left:14px;
	top:0px;
}
.ei6_2055_266_1499_266_1646_339_8061 { 
	background-color:rgba(23.000000528991222, 29.000000171363354, 27.000000290572643, 1);
	width:13.333333969116211px;
	height:13.333333969116211px;
	position:absolute;
	left:1.3333333730697632px;
	top:1.3333333730697632px;
}
.ei6_2055_266_1499_266_1647 { 
	width:16px;
	height:52px;
	position:absolute;
	left:30px;
	top:0px;
}
.ei6_2055_266_1499_266_1648 { 
	width:16px;
	height:16px;
	position:absolute;
	left:0px;
	top:18px;
}
.ei6_2055_266_1499_266_1648_348_8871 { 
	background-color:rgba(23.000000528991222, 29.000000171363354, 27.000000290572643, 1);
	width:8.5px;
	height:14.166665077209473px;
	position:absolute;
	left:3.7499642372131348px;
	top:0.9166742563247681px;
}
.ei6_2055_266_1499_266_1650 { 
	width:24px;
	height:24px;
	position:absolute;
	left:194px;
	top:8px;
}
.ei6_2055_266_1499_266_1651 { 
	background-color:rgba(46.000001057982445, 46.000001057982445, 46.000001057982445, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e6_2091 { 
	width:160px;
	height:192px;
	position:absolute;
	left:48px;
	top:368px;
}
.e6_2081 { 
	box-shadow:-2px 2px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:160px;
	height:148px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e6_2089 { 
	width:126px;
	height:176px;
	position:absolute;
	left:34px;
	top:16px;
	background-image:url('../images/1.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_2090 { 
	color:rgba(255, 255, 255, 1);
	width:131px;
	height:39px;
	position:absolute;
	left:11px;
	top:22px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
}
.e6_2088 { 
	width:160px;
	height:183px;
	position:absolute;
	left:224px;
	top:368px;
}
.e6_2082 { 
	box-shadow:-2px 2px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(238.00000101327896, 111.00000098347664, 68.00000354647636, 1);
	width:160px;
	height:148px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e6_2087 { 
	color:rgba(255, 255, 255, 1);
	width:119px;
	height:37px;
	position:absolute;
	left:12px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
}
.e6_2086 { 
	width:102px;
	height:153px;
	position:absolute;
	left:56px;
	top:30px;
	background-image:url('../images/6.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_2083 { 
	width:340px;
	height:300px;
	position:absolute;
	left:48px;
	top:54px;
}
.e6_2072 { 
	box-shadow:-2px 2px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:340px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e6_2080 { 
	color:rgba(0, 0, 0, 1);
	width:221px;
	height:79px;
	position:absolute;
	left:21px;
	top:42px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0.25;
	line-height:px;
}
.e6_2096 { 
	width:351px;
	height:308px;
	position:absolute;
	left:33px;
	top:530px;
}
.e6_2085 { 
	box-shadow:-2px 2px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 242.00000077486038, 220.00000208616257, 1);
	width:340px;
	height:300px;
	position:absolute;
	left:11px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e6_2094 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:69px;
	position:absolute;
	left:104px;
	top:30px;
	font-family:Roboto;
	text-align:right;
	font-size:40px;
	letter-spacing:0.25;
	line-height:px;
}
.e6_2093 { 
	width:257px;
	height:243px;
	position:absolute;
	left:0px;
	top:65px;
	background-image:url('../images/calendar.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_2073 { 
	width:204px;
	height:199px;
	position:absolute;
	left:170px;
	top:136px;
}
.ei6_2073_201_738 { 
	background-image:linear-gradient(0deg, rgba(211.00000262260437, 74.0000031888485, 15.000000055879354, 1) 0%,rgba(248.0000004172325, 124.00000020861626, 86.00000247359276, 1) 100%) ;
	width:176.89161682128906px;
	height:198.99942016601562px;
	position:absolute;
	left:27.108379364013672px;
	top:0px;
}
.ei6_2073_201_769 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:194.02349853515625px;
	height:199px;
	position:absolute;
	left:0.7198705077171326px;
	top:0px;
}
.ei6_2073_201_344 { 
	background-color:rgba(211.00000262260437, 74.0000031888485, 15.000000055879354, 1);
	opacity:0.4000000059604645;
	width:156.01931762695312px;
	height:182.4202117919922px;
	position:absolute;
	left:8.564094543457031px;
	top:8.287817001342773px;
}
.ei6_2073_201_346 { 
	background-color:rgba(211.00000262260437, 74.0000031888485, 15.000000055879354, 1);
	opacity:0.4000000059604645;
	width:125.21121978759766px;
	height:64.240966796875px;
	position:absolute;
	left:64.44207000732422px;
	top:60.95545959472656px;
}
.ei6_2073_201_796 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:169.87025451660156px;
	height:182.4193572998047px;
	position:absolute;
	left:13.43977165222168px;
	top:8.288435935974121px;
}
.ei6_2073_201_827 { 
	background-color:rgba(255, 242.00000077486038, 220.00000208616257, 1);
	width:181.08840942382812px;
	height:182.4202117919922px;
	position:absolute;
	left:0px;
	top:8.287817001342773px;
}
