.e5_148 { 
	width:421px;
	height:892px;
	position:absolute;
}
.e5_130 { 
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei5_130_2_118 { 
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei5_130_2_118_2_101 { 
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei5_130_2_118_2_101_2_83 { 
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei5_130_2_118_2_101_2_83_1_1034 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_150 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:375px;
	height:61px;
	position:absolute;
	left:23px;
	top:474px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e5_149 { 
	color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
	width:326px;
	height:97px;
	position:absolute;
	left:48px;
	top:357px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
}
.e5_151 { 
	color:rgba(255, 255, 255, 1);
	width:187px;
	height:36px;
	position:absolute;
	left:113px;
	top:487px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
}
.e2_65 { 
	transform: rotate(180deg);
	width:154.84559631347656px;
	height:294.4420471191406px;
	position:absolute;
	left:-2035.1544189453125px;
	top:291px;
	background-image:url('../images/union.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_63 { 
	transform: rotate(180deg);
	width:154.84559631347656px;
	height:294.4420471191406px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url('../images/union.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_61 { 
	transform: rotate(180deg);
	width:154.84559631347656px;
	height:294.4420471191406px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url('../images/union.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_59 { 
	transform: rotate(180deg);
	width:154.84559631347656px;
	height:294.4420471191406px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url('../images/union.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_56 { 
	transform: rotate(-0.1649192055749231deg);
	width:154px;
	height:294px;
	position:absolute;
	left:-154.84559631347656px;
	top:0.44327038526535034px;
	background-image:url('../images/o15_11.png');
	background-repeat:no-repeat;
	background-size:cover;
}
