.e2_99 { 
	width:421px;
	height:892px;
	position:absolute;
}
.e1_1051 { 
	background-color:rgba(0, 0, 0, 1);
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_1807 { 
	width:94.7843017578125px;
	height:78.54916381835938px;
	position:absolute;
	left:304px;
	top:387px;
}
.ei6_1807_201_738 { 
	background-image: linear-gradient(0deg, rgba(211, 74, 15, 1) 0%, rgba(248, 124, 86, 1) 100%);
	width: 82px;
	height: 79px;
	position: absolute;
	left: 13px;
	top: 0;
}

.ei6_1807_201_769 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:90.14892578125px;
	height:78.54916381835938px;
	position:absolute;
	left:0.33447265625px;
	top:0px;
}
.ei6_1807_201_344 { 
	background-color:rgba(211.00000262260437, 74.0000031888485, 15.000000055879354, 1);
	opacity:0.4000000059604645;
	width:72.4910888671875px;
	height:72.00479888916016px;
	position:absolute;
	left:3.9791259765625px;
	top:3.2713623046875px;
}
.ei6_1807_201_346 { 
	background-color:rgba(211.00000262260437, 74.0000031888485, 15.000000055879354, 1);
	opacity:0.4000000059604645;
	width:58.1767578125px;
	height:25.357158660888672px;
	position:absolute;
	left:29.941650390625px;
	top:24.060302734375px;
}
.ei6_1807_201_796 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:78.9266357421875px;
	height:72.00446319580078px;
	position:absolute;
	left:6.2445068359375px;
	top:3.2716064453125px;
}
.ei6_1807_201_827 { 
	background-color:rgba(255, 242.00000077486038, 220.00000208616257, 1);
	width:84.138916015625px;
	height:72.00479888916016px;
	position:absolute;
	left:0px;
	top:3.2713623046875px;
}
.e1_1053 { 
	color:rgba(255, 255, 255, 1);
	width:364px;
	height:101px;
	position:absolute;
	left:28px;
	top:317px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
}
.e1_1060 { 
	color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:364px;
	height:101px;
	position:absolute;
	left:28px;
	top:378px;
	font-family:Roboto;
	text-align:left;
	font-size:50px;
	letter-spacing:0.25;
	line-height:px;
}
