<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Rate Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Heart Rate Monitor</h1>
            <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fimage.aladin.co.kr%2Fimg%2Fimg_content%2FK682636237_04.jpg&type=sc960_832" alt="Heart Image">
        </div>
        <p id="heartbeat">Loading...</p>
        <p id="warning" class="hidden">! 주의 ! 리드가 제대로 연결되지 않았습니다.</p>
    </div>
    <script>
        function updateData() {
            fetch('/data')
                .then(response => response.json())
                .then(data => {
                    const heartbeat = data.heartbeat;
                    const heartbeatElement = document.getElementById('heartbeat');
                    const warning = document.getElementById('warning');

                    if (heartbeat === '!') {
                        heartbeatElement.textContent = '심박수: 데이터 없음';
                        warning.classList.remove('hidden');
                    } else {
                        heartbeatElement.textContent = `심박수: ${heartbeat}`;
                        warning.classList.add('hidden');
                    }
                });
        }

        setInterval(updateData, 1000);  // 1초마다 데이터를 갱신
    </script>
</body>
</html>
