<div class=e6_1814>
  <div class="e6_1806"></div>
  <div class=e6_1815>
    <div class="e6_1816"></div>
    <div class="e6_1817"></div>
  </div>
  <div class="e6_1818"></div>
  <div class="e6_1819"></div>
  <div class="e6_1991"></div>
  <div class="e6_1993"></div>
  <div class="e6_1998" (click)="goToMain()"></div>
  <span  class="e6_1994">성함</span>
  <span  class="e6_1995">나이</span>
  <span  class="e6_1996">키</span>
  <span  class="e6_1997">몸무게</span>
  <span  class="e6_2000" (click)="goToMain()">가입하기</span>
</div>