.e8_1719 { 
	width:421px;
	height:892px;
	position:absolute;
}
.e8_1718 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_1941 { 
	width:421px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_1942 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_1943 { 
	width:45px;
	height:44.22413635253906px;
	position:absolute;
	left:6px;
	top:11px;
}
.e8_1944 { 
	width:45px;
	height:44.22413635253906px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_1945 { 
	background-color:rgba(0, 0, 0, 1);
	width:29.999998092651367px;
	height:29.48275375366211px;
	position:absolute;
	left:7.500012397766113px;
	top:7.370689392089844px;
}
.e8_1946 { 
	color:rgba(0, 0, 0, 1);
	width:268px;
	height:60px;
	position:absolute;
	left:76px;
	top:1px;
	font-family:Roboto;
	text-align:center;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.e11_289 { 
	width:398px;
	height:210px;
	position:absolute;
	left:11px;
	top:23px;
}
.e8_1947 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:398px;
	height:160px;
	position:absolute;
	left:0px;
	top:50px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_1948 { 
	width:205px;
	height:204px;
	position:absolute;
	left:182px;
	top:0px;
	background-image:url('../images/o15_24.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_351 { 
	color:rgba(0, 0, 0, 1);
	width:160px;
	height:37px;
	position:absolute;
	left:24px;
	top:58px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.e9_356 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:72px;
	position:absolute;
	left:24px;
	top:102px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e11_290 { 
	width:398px;
	height:160px;
	position:absolute;
	left:11px;
	top:419px;
}
.e9_306 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:398px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:30px;
}
.e9_307 { 
	width:141px;
	height:151px;
	position:absolute;
	left:246px;
	top:4px;
	background-image:url('../images/o15_19.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_353 { 
	color:rgba(0, 0, 0, 1);
	width:127px;
	height:28px;
	position:absolute;
	left:32px;
	top:24px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.e9_359 { 
	color:rgba(0, 0, 0, 1);
	width:237px;
	height:72px;
	position:absolute;
	left:32px;
	top:64px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e11_291 { 
	width:439px;
	height:261.6083984375px;
	position:absolute;
	left:-30px;
	top:551.9999389648438px;
}
.e9_308 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:398px;
	height:160px;
	position:absolute;
	left:41px;
	top:41.00006103515625px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e9_309 { 
	transform: rotate(-5.370189656330787deg);
	width:233.25473022460938px;
	height:240.8350830078125px;
	position:absolute;
	left:0px;
	top:21.830385208129883px;
	background-image:url('../images/swimming.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_354 { 
	color:rgba(0, 0, 0, 1);
	width:139px;
	height:25px;
	position:absolute;
	left:213px;
	top:55.00006103515625px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.e11_288 { 
	color:rgba(0, 0, 0, 1);
	width:217px;
	height:101px;
	position:absolute;
	left:213px;
	top:87.00006103515625px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e11_292 { 
	width:398px;
	height:165px;
	position:absolute;
	left:11px;
	top:240px;
}
.e8_1949 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:398px;
	height:160px;
	position:absolute;
	left:0px;
	top:5px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e9_350 { 
	width:118px;
	height:155px;
	position:absolute;
	left:21px;
	top:0px;
}
.e9_304 { 
	transform: rotate(-13.40177554210105deg);
	width:71.81829833984375px;
	height:49.886165618896484px;
	position:absolute;
	left:11.028055191040039px;
	top:16.645967483520508px;
	background-image:url('../images/tennis.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_305 { 
	width:118px;
	height:116.51728057861328px;
	position:absolute;
	left:-2.2737367544323206e-13px;
	top:38.48265075683594px;
	background-image:url('../images/o15_21.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_352 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:36px;
	position:absolute;
	left:103px;
	top:17px;
	font-family:Roboto;
	text-align:center;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.e9_358 { 
	color:rgba(0, 0, 0, 1);
	width:247px;
	height:72px;
	position:absolute;
	left:136px;
	top:51px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e9_312 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:398px;
	height:125px;
	position:absolute;
	left:11px;
	top:767px;
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.e9_349 { 
	width:170px;
	height:103px;
	position:absolute;
	left:245px;
	top:759px;
	background-image:url('../images/9.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_355 { 
	color:rgba(0, 0, 0, 1);
	width:144px;
	height:29px;
	position:absolute;
	left:42px;
	top:785px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.e11_293 { 
	box-shadow:0px -4px 4px rgba(0, 0, 0, 0.25);
	width:410px;
	height:30px;
	position:absolute;
	left:5px;
	top:862px;
}
.e9_317 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:410px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.e9_348 { 
	transform: rotate(135deg);
	opacity:0.6000000238418579;
	width:8.589837074279785px;
	height:8.589837074279785px;
	position:absolute;
	left:205.4609375px;
	top:13.3203125px;
}
.style-9-348 { 
	border:3.4632818698883057px solid rgba(0, 0, 0, 1);
}
