.e6_1814 { 
	width:421px;
	height:892px;
	position:absolute;
}
.e6_1806 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_1815 { 
	box-shadow:48.7735481262207px 48.7735481262207px 91.45040130615234px rgba(0, 0, 0, 0.05000000074505806);
	width:150px;
	height:150px;
	position:absolute;
	left:136px;
	top:239px;
}
.e6_1816 { 
	border-radius:500px;
	background-color:rgba(228.01416724920273, 210.5858400464058, 215.08347630500793, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_1817 { 
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:211.6405487060547px;
	border-top-right-radius:211.6405487060547px;
	border-bottom-left-radius:211.6405487060547px;
	border-bottom-right-radius:211.6405487060547px;
	background-image:url('../images/41.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_1818 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:325px;
	height:55px;
	position:absolute;
	left:48px;
	top:408px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e6_1819 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:325px;
	height:55px;
	position:absolute;
	left:48px;
	top:471px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e6_1991 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:325px;
	height:55px;
	position:absolute;
	left:48px;
	top:534px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e6_1993 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:325px;
	height:55px;
	position:absolute;
	left:48px;
	top:597px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e6_1998 { 
	background-color:rgba(255, 255, 255, 1);
	width:325px;
	height:55px;
	position:absolute;
	left:48px;
	top:806px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e6_1994 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:25px;
	position:absolute;
	left:77px;
	top:425px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.e6_1995 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:25px;
	position:absolute;
	left:77px;
	top:486px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.e6_1996 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:25px;
	position:absolute;
	left:77px;
	top:549px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.e6_1997 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:25px;
	position:absolute;
	left:77px;
	top:612px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.e6_2000 { 
	color:rgba(243.51171165704727, 82.79408410191536, 82.79408410191536, 1);
	width:129px;
	height:37px;
	position:absolute;
	left:146px;
	top:815px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
}
