.e13_589 { 
	width:421px;
	height:892px;
	position:absolute;
}
.e13_588 { 
	background-color:rgba(255, 242.00000077486038, 220.00000208616257, 1);
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_590 { 
	width:421px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_591 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_592 { 
	width:45px;
	height:44.22413635253906px;
	position:absolute;
	left:6px;
	top:11px;
}
.e13_593 { 
	width:45px;
	height:44.22413635253906px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_594 { 
	background-color:rgba(0, 0, 0, 1);
	width:29.999998092651367px;
	height:29.48275375366211px;
	position:absolute;
	left:7.500012397766113px;
	top:7.370689392089844px;
}
.e13_595 { 
	color:rgba(0, 0, 0, 1);
	width:268px;
	height:60px;
	position:absolute;
	left:76px;
	top:1px;
	font-family:Roboto;
	text-align:center;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_736 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:379px;
	height:418px;
	position:absolute;
	left:21px;
	top:73px;
}
.e13_597 { 
	background-color:rgba(255, 255, 255, 1);
	width:379px;
	height:418px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e13_598 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:379px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.e13_599 { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:27px;
	position:absolute;
	left:17px;
	top:9px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_629 { 
	width:336px;
	height:63px;
	position:absolute;
	left:8px;
	top:52px;
}
.e13_600 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:47px;
	top:1px;
}
.style-13-600 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_601 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:96px;
	top:1px;
}
.style-13-601 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_602 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:148px;
	top:1px;
}
.style-13-602 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_603 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:204px;
	top:1px;
}
.style-13-603 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_604 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:262px;
	top:1px;
}
.style-13-604 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_605 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:319px;
	top:2px;
}
.style-13-605 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_606 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_613 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_607 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_608 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:153px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_705 { 
	border-radius:500px;
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 0.3799999952316284);
	width:14px;
	height:14px;
	position:absolute;
	left:205px;
	top:0px;
}
.e13_609 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:209px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_610 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:267px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_611 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:324px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_630 { 
	width:336px;
	height:63px;
	position:absolute;
	left:8px;
	top:125px;
}
.e13_631 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:47px;
	top:1px;
}
.style-13-631 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_632 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:96px;
	top:1px;
}
.style-13-632 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_633 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:148px;
	top:1px;
}
.style-13-633 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_634 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:204px;
	top:1px;
}
.style-13-634 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_635 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:262px;
	top:1px;
}
.style-13-635 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_636 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:319px;
	top:2px;
}
.style-13-636 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_637 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_644 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_638 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_639 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:153px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_640 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:209px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_641 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:267px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_642 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:324px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_645 { 
	width:336px;
	height:63px;
	position:absolute;
	left:8px;
	top:198px;
}
.e13_646 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:47px;
	top:1px;
}
.style-13-646 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_647 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:96px;
	top:1px;
}
.style-13-647 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_648 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:148px;
	top:1px;
}
.style-13-648 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_649 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:204px;
	top:1px;
}
.style-13-649 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_650 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:262px;
	top:1px;
}
.style-13-650 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_651 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:319px;
	top:2px;
}
.style-13-651 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_652 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_659 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_653 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_654 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:153px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_655 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:209px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_656 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:267px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_657 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:324px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_675 { 
	width:336px;
	height:63px;
	position:absolute;
	left:8px;
	top:271px;
}
.e13_676 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:47px;
	top:1px;
}
.style-13-676 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_677 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:96px;
	top:1px;
}
.style-13-677 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_678 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:148px;
	top:1px;
}
.style-13-678 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_679 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:204px;
	top:1px;
}
.style-13-679 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_680 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:262px;
	top:1px;
}
.style-13-680 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_681 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:319px;
	top:2px;
}
.style-13-681 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_682 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_689 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_683 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_684 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:153px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_685 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:209px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_686 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:267px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_687 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:324px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_690 { 
	width:66px;
	height:62px;
	position:absolute;
	left:8px;
	top:344px;
}
.e13_691 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:47px;
	top:1px;
}
.stlye-13-691 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_697 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_704 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_738 { 
	box-shadow:0px -4px 4px rgba(0, 0, 0, 0.25);
	width:410px;
	height:30px;
	position:absolute;
	left:6px;
	top:862px;
}
.e13_739 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:410px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.e13_740 { 
	transform: rotate(135deg);
	opacity:0.6000000238418579;
	width:8.589837074279785px;
	height:8.589837074279785px;
	position:absolute;
	left:205.4609375px;
	top:13.3203125px;
}
.style-13-740 { 
	border:3.4632818698883057px solid rgba(0, 0, 0, 1);
}
.e13_773 { 
	width:379px;
	height:230px;
	position:absolute;
	left:21px;
	top:505px;
}
.e13_741 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:379px;
	height:230px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e13_772 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 0.27000001072883606);
	width:347px;
	height:41px;
	position:absolute;
	left:16px;
	top:53px;
}
.style-13-742 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.e13_742 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:54px;
}
.style-13-750 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_750 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:94px;
}
.style-13-752 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_752 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:136px;
}
.style-13-753 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_753 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:179px;
}
.style-13-751 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.e13_751 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:54px;
}
.e13_743 { 
	transform: rotate(90deg);
	width:203.0221710205078px;
	height:0px;
	position:absolute;
	left:77.5px;
	top:15.98876953125px;
}
.style-13-743 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.e13_744 { 
	transform: rotate(90deg);
	width:203.0221710205078px;
	height:0px;
	position:absolute;
	left:190px;
	top:16px;
}
.style-13-744 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.e13_745 { 
	transform: rotate(90deg);
	width:203.0221710205078px;
	height:0px;
	position:absolute;
	left:245px;
	top:16px;
}
.style-13-745 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.e13_746 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_757 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_758 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:183px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_754 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_767 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:191px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_768 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:190px;
	top:100px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_770 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:191px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_771 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:190px;
	top:186px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_769 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:191px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_755 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:102px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_747 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:85px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_761 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:83px;
	top:100px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_762 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:83px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_763 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:83px;
	top:186px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_759 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:85px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_748 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_760 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_764 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:100px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_765 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_766 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:186px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_2195 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:26px;
	top:159px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.e13_2731 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:76px;
	top:159px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.e13_3272 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:128px;
	top:159px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.e13_3818 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:181px;
	top:159px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
