.e13_881 { 
	width:421px;
	height:892px;
	position:absolute;
}
.e13_774 { 
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_774_13_588 { 
	background-color:rgba(255, 242.00000077486038, 220.00000208616257, 1);
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_774_13_590 { 
	width:421px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_774_13_591 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_774_13_592 { 
	width:45px;
	height:44.22413635253906px;
	position:absolute;
	left:6px;
	top:11px;
}
.ei13_774_13_593 { 
	width:45px;
	height:44.22413635253906px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_774_13_594 { 
	background-color:rgba(0, 0, 0, 1);
	width:29.999998092651367px;
	height:29.48275375366211px;
	position:absolute;
	left:7.500012397766113px;
	top:7.370689392089844px;
}
.ei13_774_13_595 { 
	color:rgba(0, 0, 0, 1);
	width:268px;
	height:60px;
	position:absolute;
	left:76px;
	top:1px;
	font-family:Roboto;
	text-align:center;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_736 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:379px;
	height:418px;
	position:absolute;
	left:21px;
	top:73px;
}
.ei13_774_13_597 { 
	background-color:rgba(255, 255, 255, 1);
	width:379px;
	height:418px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei13_774_13_598 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:379px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.ei13_774_13_599 { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:27px;
	position:absolute;
	left:17px;
	top:9px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_629 { 
	width:336px;
	height:63px;
	position:absolute;
	left:8px;
	top:52px;
}
.ei13_774_13_600 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:47px;
	top:1px;
}
.i13_774_13_600 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_601 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:96px;
	top:1px;
}
.i13_774_13_601 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_602 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:148px;
	top:1px;
}
.i13_774_13_602 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_603 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:204px;
	top:1px;
}
.i13_774_13_603 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_604 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:262px;
	top:1px;
}
.i13_774_13_604 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_605 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:319px;
	top:2px;
}
.i13_774_13_605 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_606 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_613 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_607 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_608 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:153px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_705 { 
	border-radius:500px;
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 0.3799999952316284);
	width:14px;
	height:14px;
	position:absolute;
	left:205px;
	top:0px;
}
.ei13_774_13_609 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:209px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_610 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:267px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_611 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:324px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_630 { 
	width:336px;
	height:63px;
	position:absolute;
	left:8px;
	top:125px;
}
.ei13_774_13_631 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:47px;
	top:1px;
}
.i13_774_13_631 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_632 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:96px;
	top:1px;
}
.i13_774_13_632 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_633 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:148px;
	top:1px;
}
.i13_774_13_633 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_634 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:204px;
	top:1px;
}
.i13_774_13_634 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_635 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:262px;
	top:1px;
}
.i13_774_13_635 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_636 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:319px;
	top:2px;
}
.i13_774_13_636 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_637 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_644 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_638 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_639 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:153px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_640 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:209px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_641 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:267px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_642 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:324px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_645 { 
	width:336px;
	height:63px;
	position:absolute;
	left:8px;
	top:198px;
}
.ei13_774_13_646 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:47px;
	top:1px;
}
.i13_774_13_646 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_647 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:96px;
	top:1px;
}
.i13_774_13_647 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_648 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:148px;
	top:1px;
}
.i13_774_13_648 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_649 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:204px;
	top:1px;
}
.i13_774_13_649 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_650 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:262px;
	top:1px;
}
.i13_774_13_650 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_651 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:319px;
	top:2px;
}
.i13_774_13_651 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_652 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_659 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_653 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_654 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:153px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_655 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:209px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_656 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:267px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_657 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:324px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_675 { 
	width:336px;
	height:63px;
	position:absolute;
	left:8px;
	top:271px;
}
.ei13_774_13_676 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:47px;
	top:1px;
}
.i13_774_13_676 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_677 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:96px;
	top:1px;
}
.i13_774_13_677 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_678 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:148px;
	top:1px;
}
.i13_774_13_678 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_679 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:204px;
	top:1px;
}
.i13_774_13_679 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_680 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:262px;
	top:1px;
}
.i13_774_13_680 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_681 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:319px;
	top:2px;
}
.i13_774_13_681 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_682 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_689 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_683 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_684 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:153px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_685 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:209px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_686 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:267px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_687 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:324px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_690 { 
	width:66px;
	height:62px;
	position:absolute;
	left:8px;
	top:344px;
}
.ei13_774_13_691 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:47px;
	top:1px;
}
.i13_774_13_691 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_697 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_704 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_773 { 
	width:379px;
	height:230px;
	position:absolute;
	left:21px;
	top:505px;
}
.ei13_774_13_741 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:379px;
	height:230px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei13_774_13_772 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 0.27000001072883606);
	width:347px;
	height:41px;
	position:absolute;
	left:16px;
	top:53px;
}
.i13_774_13_742 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.ei13_774_13_742 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:54px;
}
.i13_774_13_750 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_750 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:94px;
}
.i13_774_13_752 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_752 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:136px;
}
.i13_774_13_753 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_753 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:179px;
}
.i13_774_13_751 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.ei13_774_13_751 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:54px;
}
.ei13_774_13_743 { 
	transform: rotate(90deg);
	width:203.0221710205078px;
	height:0px;
	position:absolute;
	left:77.5px;
	top:15.98876953125px;
}
.i13_774_13_743 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.ei13_774_13_744 { 
	transform: rotate(90deg);
	width:203.0221710205078px;
	height:0px;
	position:absolute;
	left:190px;
	top:16px;
}
.i13_774_13_744 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.ei13_774_13_745 { 
	transform: rotate(90deg);
	width:203.0221710205078px;
	height:0px;
	position:absolute;
	left:245px;
	top:16px;
}
.i13_774_13_745 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.ei13_774_13_746 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_757 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_758 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:183px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_754 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_767 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:191px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_768 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:190px;
	top:100px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_770 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:191px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_771 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:190px;
	top:186px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_769 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:191px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_755 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:102px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_747 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:85px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_761 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:83px;
	top:100px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_762 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:83px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_763 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:83px;
	top:186px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_759 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:85px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_748 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_760 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_764 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:100px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_765 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_766 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:186px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_2195 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:26px;
	top:159px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_774_13_2731 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:76px;
	top:159px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_774_13_3272 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:128px;
	top:159px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_774_13_3818 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:181px;
	top:159px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.e13_883 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5199999809265137);
	width:421px;
	height:443px;
	position:absolute;
	left:-1px;
	top:0px;
}
.e13_884 { 
	box-shadow:0px -4px 4px rgba(0, 0, 0, 0.25);
	width:421px;
	height:621px;
	position:absolute;
	left:1px;
	top:271px;
}
.e13_885 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:421px;
	height:621px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
.e13_886 { 
	transform: rotate(-40.42607469609397deg);
	opacity:0.6000000238418579;
	width:7.978963851928711px;
	height:7.978963375091553px;
	position:absolute;
	left:210.073974609375px;
	top:14.607512474060059px;
}
.style-13-886 { 
	border:3.4632818698883057px solid rgba(0, 0, 0, 1);
}
.e13_943 { 
	width:168px;
	height:135px;
	position:absolute;
	left:32px;
	top:311px;
}
.e13_887 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:168px;
	height:135px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e13_889 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:10px;
	top:11px;
	font-family:Roboto;
	text-align:left;
	font-size:15px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_893 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:78px;
	height:59px;
	position:absolute;
	left:26px;
	top:63px;
}
.e13_891 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:25px;
	position:absolute;
	left:108px;
	top:102px;
	font-family:Roboto;
	text-align:left;
	font-size:15px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_944 { 
	width:168px;
	height:135px;
	position:absolute;
	left:221px;
	top:311px;
}
.e13_888 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:168px;
	height:135px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e13_890 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:12px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:15px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_894 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:78px;
	height:59px;
	position:absolute;
	left:32px;
	top:65px;
}
.e13_892 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:25px;
	position:absolute;
	left:114px;
	top:104px;
	font-family:Roboto;
	text-align:left;
	font-size:15px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_942 { 
	width:350px;
	height:398px;
	position:absolute;
	left:34px;
	top:467px;
}
.e13_896 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:398px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e13_897 { 
	color:rgba(0, 0, 0, 1);
	width:257px;
	height:60px;
	position:absolute;
	left:20px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_941 { 
	width:287.990234375px;
	height:33.5px;
	position:absolute;
	left:27px;
	top:66px;
}
.e13_901 { 
	width:287.990234375px;
	height:33.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_902 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
}
.style-13-902 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.style-13-903 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_903 { 
	width:250px;
	height:0px;
	position:absolute;
	left:37.990234375px;
	top:33.5px;
}
.e13_940 { 
	width:287.990234375px;
	height:33.5px;
	position:absolute;
	left:27px;
	top:115px;
}
.e13_910 { 
	width:287.990234375px;
	height:33.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_911 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
}
.style-13-911 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.style-13-912 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_912 { 
	width:250px;
	height:0px;
	position:absolute;
	left:37.990234375px;
	top:33.5px;
}
.e13_939 { 
	width:287.990234375px;
	height:33.5px;
	position:absolute;
	left:27px;
	top:164px;
}
.e13_922 { 
	width:287.990234375px;
	height:33.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_923 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
}
.style-13-923 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.style-13-924 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_924 { 
	width:250px;
	height:0px;
	position:absolute;
	left:37.990234375px;
	top:33.5px;
}
.e13_938 { 
	width:287.990234375px;
	height:33.5px;
	position:absolute;
	left:27px;
	top:213px;
}
.e13_925 { 
	width:287.990234375px;
	height:33.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_926 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
}
.style-13-926 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.style-13-927 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_927 { 
	width:250px;
	height:0px;
	position:absolute;
	left:37.990234375px;
	top:33.5px;
}
}