.e13_1826 { 
	width:421px;
	height:892px;
	position:absolute;
}
.e13_1760 { 
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_1760_8_718 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_1760_8_718_6_2098 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_1760_8_718_8_1896 { 
	width:421px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_1760_8_718_7_284 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_1760_8_718_7_305 { 
	width:45px;
	height:44.22413635253906px;
	position:absolute;
	left:6px;
	top:11px;
}
.ei13_1760_8_718_7_303 { 
	width:45px;
	height:44.22413635253906px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_1760_8_718_7_304 { 
	background-color:rgba(0, 0, 0, 1);
	width:29.999998092651367px;
	height:29.48275375366211px;
	position:absolute;
	left:7.500012397766113px;
	top:7.370689392089844px;
}
.ei13_1760_8_718_7_306 { 
	color:rgba(0, 0, 0, 1);
	width:268px;
	height:60px;
	position:absolute;
	left:76px;
	top:1px;
	font-family:Roboto;
	text-align:center;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_1760_8_718_8_1674 { 
	width:407.80145263671875px;
	height:368.8857727050781px;
	position:absolute;
	left:6px;
	top:74px;
}
.ei13_1760_8_718_8_310 { 
	color:rgba(0, 0, 0, 1);
	width:178.3590087890625px;
	height:32.03535842895508px;
	position:absolute;
	left:8px;
	top:187px;
	font-family:Roboto;
	text-align:left;
	font-size:19.913869857788086px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_8_718_8_309 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:245.02719116210938px;
	height:194.80960083007812px;
	position:absolute;
	left:0px;
	top:38px;
	font-family:Roboto;
	text-align:left;
	font-size:119.95999908447266px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_8_718_8_313 { 
	color:rgba(0, 0, 0, 1);
	width:217.32095336914062px;
	height:32.03535842895508px;
	position:absolute;
	left:8px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:25.974613189697266px;
	letter-spacing:0;
	line-height:px;
}
.i13_1760_8_718_8_329 { 
	border:0.8658204674720764px solid rgba(0, 0, 0, 1);
}
.ei13_1760_8_718_8_329 { 
	width:185.28558349609375px;
	height:0px;
	position:absolute;
	left:8px;
	top:219px;
}
.ei13_1760_8_718_8_311 { 
	color:rgba(0, 0, 0, 1);
	width:178.3590087890625px;
	height:32.03535842895508px;
	position:absolute;
	left:8px;
	top:256px;
	font-family:Roboto;
	text-align:left;
	font-size:19.913869857788086px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_8_718_8_314 { 
	color:rgba(0, 0, 0, 1);
	width:45.888484954833984px;
	height:32.03535842895508px;
	position:absolute;
	left:25.7796630859375px;
	top:224px;
	font-family:Roboto;
	text-align:left;
	font-size:25.974613189697266px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_8_718_8_315 { 
	color:rgba(0, 0, 0, 1);
	width:45.888484954833984px;
	height:32.03535842895508px;
	position:absolute;
	left:107.1669921875px;
	top:224px;
	font-family:Roboto;
	text-align:left;
	font-size:25.974613189697266px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_8_718_8_316 { 
	transform: rotate(135deg);
	opacity:0.6000000238418579;
	width:8.589837074279785px;
	height:8.589837074279785px;
	position:absolute;
	left:95.4609375px;
	top:237.3203125px;
}
.i13_1760_8_718_8_316 { 
	border:3.4632818698883057px solid rgba(0, 0, 0, 1);
}
.ei13_1760_8_718_8_317 { 
	transform: rotate(-44.99999517032684deg);
	opacity:0.6000000238418579;
	width:8.589837074279785px;
	height:8.589837074279785px;
	position:absolute;
	left:14.07391357421875px;
	top:244.26025390625px;
}
.i13_1760_8_718_8_317 { 
	border:3.4632818698883057px solid rgba(0, 0, 0, 1);
}
.ei13_1760_8_718_8_330 { 
	transform: rotate(0.000005008956130975318deg);
	width:407.80145263671875px;
	height:0px;
	position:absolute;
	left:0px;
	top:294px;
}
.i13_1760_8_718_8_330 { 
	border:0.8658204674720764px solid rgba(0, 0, 0, 1);
}
.ei13_1760_8_718_8_331 { 
	transform: rotate(0.000005008956130975318deg);
	width:407.80145263671875px;
	height:0px;
	position:absolute;
	left:0px;
	top:368.8857421875px;
}
.i13_1760_8_718_8_331 { 
	border:0.8658204674720764px solid rgba(0, 0, 0, 1);
}
.ei13_1760_8_718_8_333 { 
	color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
	width:109.5628433227539px;
	height:31.773223876953125px;
	position:absolute;
	left:148.146484375px;
	top:315.910400390625px;
	font-family:Roboto;
	text-align:center;
	font-size:25.421417236328125px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_8_718_8_895 { 
	color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
	width:109.5628433227539px;
	height:31.773223876953125px;
	position:absolute;
	left:5px;
	top:316px;
	font-family:Roboto;
	text-align:center;
	font-size:25.421417236328125px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_8_718_8_771 { 
	width:185.00001525878906px;
	height:132.00003051757812px;
	position:absolute;
	left:228px;
	top:149px;
}
.ei13_1760_8_718_8_510 { 
	background-image: linear-gradient(0deg, rgba(211, 74, 15, 1) 0%, rgba(243, 104, 104, 1) 100%);
	width: 137px;
	height: 132px;
	position: absolute;
	left: 48px;
	top: 0px;
}
.ei13_1760_8_718_8_511 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:175.95010375976562px;
	height:131.9999542236328px;
	position:absolute;
	left:0.654144287109375px;
	top:0px;
}
.ei13_1760_8_718_8_512 { 
	background-color:rgba(211.00000262260437, 74.0000031888485, 15.000000055879354, 1);
	opacity:0.4000000059604645;
	width:164.22142028808594px;
	height:121.11579132080078px;
	position:absolute;
	left:7.767364501953125px;
	top:5.442626953125px;
}
.ei13_1760_8_718_8_513 { 
	background-image: linear-gradient(0deg, rgba(247, 161, 117, 1) 0%, rgba(255, 242, 220, 1) 100%);
	width: 125px;
	height: 121px;
	position: absolute;
	left: 41px;
	top: 5px;
}
.ei13_1760_8_718_8_514 { 
	background-color:rgba(255, 242.00000077486038, 220.00000208616257, 1);
	width:164.2220001220703px;
	height:121.11658477783203px;
	position:absolute;
	left:0px;
	top:5.442626953125px;
}
.ei13_1760_8_718_8_1631 { 
	width:346px;
	height:366px;
	position:absolute;
	left:37px;
	top:477px;
}
.ei13_1760_8_718_8_976 { 
	background-color:rgba(0, 0, 0, 1);
	width:346px;
	height:366px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_1760_8_718_8_1004 { 
	transform: rotate(90deg);
	width:300px;
	height:0px;
	position:absolute;
	left:23px;
	top:20.996826171875px;
}
.i13_1760_8_718_8_1004 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.i13_1760_8_718_8_1091 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei13_1760_8_718_8_1091 { 
	width:290px;
	height:0px;
	position:absolute;
	left:24px;
	top:321px;
}
.ei13_1760_13_1755 { 
	width:30px;
	height:269px;
	position:absolute;
	left:91px;
	top:550px;
}
.ei13_1760_13_1739 { 
	color:rgba(255, 255, 255, 1);
	width:30px;
	height:18px;
	position:absolute;
	left:0px;
	top:251px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_13_1745 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:11px;
	height:140px;
	position:absolute;
	left:15px;
	top:108px;
}
.ei13_1760_13_1746 { 
	background-color:rgba(255, 0, 0, 1);
	width:11px;
	height:248px;
	position:absolute;
	left:2px;
	top:0px;
}
.ei13_1760_13_1756 { 
	width:30px;
	height:253px;
	position:absolute;
	left:139px;
	top:566px;
}
.ei13_1760_13_1741 { 
	color:rgba(255, 255, 255, 1);
	width:30px;
	height:18px;
	position:absolute;
	left:0px;
	top:235px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_13_1747 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:11px;
	height:120px;
	position:absolute;
	left:16px;
	top:112px;
}
.ei13_1760_13_1748 { 
	background-color:rgba(255, 0, 0, 1);
	width:11px;
	height:232px;
	position:absolute;
	left:3px;
	top:0px;
}
.ei13_1760_13_1757 { 
	width:30px;
	height:301px;
	position:absolute;
	left:187px;
	top:518px;
}
.ei13_1760_13_1742 { 
	color:rgba(255, 255, 255, 1);
	width:30px;
	height:18px;
	position:absolute;
	left:0px;
	top:283px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_13_1749 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:11px;
	height:167px;
	position:absolute;
	left:16px;
	top:113px;
}
.ei13_1760_13_1750 { 
	background-color:rgba(255, 0, 0, 1);
	width:11px;
	height:280px;
	position:absolute;
	left:3px;
	top:0px;
}
.ei13_1760_13_1758 { 
	width:30px;
	height:208px;
	position:absolute;
	left:235px;
	top:611px;
}
.ei13_1760_13_1743 { 
	color:rgba(255, 255, 255, 1);
	width:30px;
	height:18px;
	position:absolute;
	left:0px;
	top:190px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_13_1751 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:11px;
	height:100px;
	position:absolute;
	left:16px;
	top:87px;
}
.ei13_1760_13_1752 { 
	background-color:rgba(255, 0, 0, 1);
	width:11px;
	height:187px;
	position:absolute;
	left:3px;
	top:0px;
}
.ei13_1760_13_1759 { 
	width:30px;
	height:241px;
	position:absolute;
	left:283px;
	top:578px;
}
.ei13_1760_13_1744 { 
	color:rgba(255, 255, 255, 1);
	width:30px;
	height:18px;
	position:absolute;
	left:0px;
	top:223px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_13_1753 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:11px;
	height:135px;
	position:absolute;
	left:16px;
	top:85px;
}
.ei13_1760_13_1754 { 
	background-color:rgba(255, 0, 0, 1);
	width:11px;
	height:220px;
	position:absolute;
	left:3px;
	top:0px;
}
.i13_1760_13_1828 { 
	border:1px solid rgba(255, 0, 0, 1);
}
.ei13_1760_13_1828 { 
	width:291px;
	height:0px;
	position:absolute;
	left:60px;
	top:594px;
}
.i13_1760_13_1895 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_1760_13_1895 { 
	width:291px;
	height:0px;
	position:absolute;
	left:60px;
	top:693px;
}
.ei13_1760_13_2054 { 
	color:rgba(255, 255, 255, 1);
	width:23px;
	height:14px;
	position:absolute;
	left:354px;
	top:584px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_1760_13_2124 { 
	color:rgba(255, 255, 255, 1);
	width:23px;
	height:14px;
	position:absolute;
	left:354px;
	top:685px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.e13_1827 { 
	color:rgba(0, 0, 0, 1);
	width:109.5628433227539px;
	height:31.773223876953125px;
	position:absolute;
	left:289px;
	top:390px;
	font-family:Roboto;
	text-align:center;
	font-size:25.421417236328125px;
	letter-spacing:0;
	line-height:px;
}
